
img{
    border-radius: 50%;
   
}
// .d{
    
//     text-align: center;
// }
.btn{
    margin-left: 10%;
    
}  
// }
// .cn{
//    margin-left: 35%;
   
// }
h2{
    color: darkgray;
 }
// button{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
    
// }
ion-title{
    color: darkgray;
}
// div.scroll-content{
//     background-color: darkgray;
// }
// ion-item{
//     opacity: 0.1;
// }
button.btn{
    border-radius: 30%;
}