
.bg{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h2{
    color: darkgray;
 }
 button.btn{
    border-radius: 30%;
}
// div.scroll-content{
//     height: 100%;
//     width: 100%;
// }