
h1{
    color: darkgray;
    
 }

div.item-inner{
    border-radius: 30%;
    border-color: darkgray;
}
input.text-input {
text-align: center;
}
ion-item.item{
    border-radius: 30%;
}
button.btn{
    border-radius: 30%;
}
  
